.container-background-image {
  background-image: url("../../../assets/skyscrappers.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  overflow: hidden;
  width: 100%;
  background-position: center;
}
.centered-level {
  margin-top: 37vh;
}
a.blue-dropdown {
  color: blue;
}
