<div class="column sticky">
  <div class="card">
    <div class="card-image">
      <figure class="image">
        <img src="{{this.profilePictureImagePath}}" alt="Placeholder image">
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img src="{{this.logoImagePath}}" alt="Placeholder image">
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4">{{this.profileName}}</p>
          <p class="subtitle is-6">{{this.currentTitle}}</p>
        </div>
      </div>
      <div class="content">
        {{this.phoneNumber}} | {{this.emailAddress}}
      </div>
    </div>
  </div>
</div>
